<div class="all-content-wrapper">
    <div class="header-advance-area">
        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="breadcome-heading">
                                        <form role="search" class="sr-input-func">
                                            <input type="text" placeholder="Search..." class="search-int form-control">
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul class="breadcome-menu">
                                        <li><a href="/">Trang chủ</a> <span class="bread-slash">/</span>
                                        </li>
                                        <li><span class="bread-blod">Danh sách lĩnh vực</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-status mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap drp-lst">
                        <h4>Danh sách lĩnh vực</h4>
                        <div id="deleteAlert">
                            <p style=" color: red">This category still exists somewhere. You can not delete it !!!</p>
                        </div>
                        <p id="messageError" style="display: none;">{{messageError}}</p>
                        <script>
                            $('#deleteAlert').hide();
                            if ($('#messageError').html() == "DelCategory") {
                                console.log("hahaha");
                                $('#deleteAlert').show();
                            }
                        </script>
                        <div class="add-product">
                            <a data-toggle="modal" data-target="#addRootCategory">Thêm lĩnh vực</a>
                        </div>
                        <!-- add a root Category -->
                        <div class="modal fade" id="addRootCategory" tabindex=" -1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header" style="padding: 4%;">
                                        <div style="display: table-cell; vertical-align: middle; float:left">
                                            <h5 class="modal-title" id="exampleModalLabel">Thêm
                                                lĩnh vực
                                            </h5>
                                        </div>
                                        <div style="display: table-cell; vertical-align: middle; float:right">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    <form id="acount-infor" action="/add-one-root-category" class="acount-infor"
                                        method="post">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input name="name" type="text" class="form-control"
                                                    placeholder="Tên lĩnh vực" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Thêm</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Đóng</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- add a root Category -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Tên lĩnh vực</th>
                                    <th style="text-align: center; vertical-align: middle;">Xem chi tiết</th>
                                    <th style="text-align: center; vertical-align: middle;">Cài đặt</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each listCategoriesInOnePage}}
                                <!-- Delete a root Category -->
                                <div class="modal fade" id="delRootCategoryModal{{_id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Thông
                                                    báo</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Bạn có chắc muốn lĩnh vực "{{this.name}}" này không?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="/delete-category?rootid={{_id}}">
                                                    <button type="button" class="btn btn-primary">Xoá</button>
                                                </a>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Delete a root Category -->
                                <tr>
                                    <td>{{page}} </td>
                                    <td>{{name}} </td>
                                    <td class="text-center" style="text-align: center; vertical-align: middle;">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                            href="#collapse{{page}}" aria-expanded="true" aria-controls="collapse0">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <a style="color:black" href="edit-category?rootid={{_id}}">
                                            <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                        </a>
                                        <button data-toggle="modal" data-target="#delRootCategoryModal{{_id}}"
                                            title="Trash" class="pd-setting-ed">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td />
                                </tr>
                                <tr>
                                    <td style="padding: 0px 20%" colspan="4" class="padding-fix text-center">
                                        <div id="collapse{{page}}" class="order-details panel-collapse out collapse"
                                            role="tabpanel" aria-labelledby="heading0" aria-expanded="false"
                                            style="height: 0px;">
                                            <input type="hidden"
                                                name="ctl00$ContentPlaceHolderContent$ListViewOrders$ctrl0$HiddenFieldOrderId"
                                                id="ContentPlaceHolderContent_ListViewOrders_HiddenFieldOrderId_0"
                                                value="2">
                                            <div class="items">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Tên lĩnh vực</th>
                                                            <th style="text-align: center; vertical-align: middle;">Cài
                                                                đặt</th>
                                                            <th>
                                                                <div>
                                                                    <div style="text-align:right">
                                                                        <a data-toggle="modal"
                                                                            data-target="#addChildCategory{{_id}}">
                                                                            <button style="background-color:#006DF0"
                                                                                data-toggle="tooltip" title="Edit"
                                                                                class="pd-setting-ed">
                                                                                <i style="color:white"
                                                                                    class="fa fa-plus"
                                                                                    aria-hidden="true"></i>
                                                                            </button>
                                                                        </a>
                                                                    </div>
                                                                    <!-- add a Child Category -->
                                                                    <div class="modal fade" id="addChildCategory{{_id}}"
                                                                        tabindex=" -1" role="dialog"
                                                                        aria-labelledby="exampleModalLabel"
                                                                        aria-hidden="true">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header"
                                                                                    style="padding: 4%;">
                                                                                    <div
                                                                                        style="display: table-cell; vertical-align: middle; float:left">
                                                                                        <h5 class="modal-title"
                                                                                            id="exampleModalLabel">Thêm
                                                                                            lĩnh vực con của "{{name}}"
                                                                                        </h5>
                                                                                    </div>
                                                                                    <div
                                                                                        style="display: table-cell; vertical-align: middle; float:right">
                                                                                        <button type="button"
                                                                                            class="close"
                                                                                            data-dismiss="modal"
                                                                                            aria-label="Close">
                                                                                            <span
                                                                                                aria-hidden="true">&times;</span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                                <form id="acount-infor"
                                                                                    action="/add-one-child-category?rootid={{_id}}"
                                                                                    class="acount-infor" method="post">
                                                                                    <div class="modal-body">
                                                                                        <div class="form-group">
                                                                                            <input name="name"
                                                                                                type="text"
                                                                                                class="form-control"
                                                                                                placeholder="Tên lĩnh vực"
                                                                                                required>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="submit"
                                                                                            class="btn btn-primary">Thêm</button>
                                                                                        <button type="button"
                                                                                            class="btn btn-secondary"
                                                                                            data-dismiss="modal">Đóng</button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- add a Child Category -->
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each categories}}
                                                        <!-- Delete a child Category -->
                                                        <div class="modal fade" id="delChildCategoryModal{{_id}}"
                                                            tabindex="-1" role="dialog"
                                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel"
                                                                            style="text-align: left;">
                                                                            Thông
                                                                            báo</h5>
                                                                        <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body" style="text-align: left;">
                                                                        <p>Bạn có chắc muốn xóa lĩnh vực "{{this.name}}"
                                                                            này không?</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <a
                                                                            href="/delete-category?rootid={{../_id}}&childid={{_id}}">
                                                                            <button type="button"
                                                                                class="btn btn-primary">Xoá</button>
                                                                        </a>
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Đóng</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /Delete a Child Category -->
                                                        <tr>
                                                            <td>{{page}}</td>
                                                            <td>{{name}} </td>
                                                            <td style="text-align: center; vertical-align: middle;">
                                                                <a
                                                                    href="edit-category?rootid={{../_id}}&childid={{_id}}">
                                                                    <button data-toggle="tooltip" title="Edit"
                                                                        class="pd-setting-ed">
                                                                        <i style="color:black"
                                                                            class="fa fa-pencil-square-o"
                                                                            aria-hidden="true"></i>
                                                                    </button>
                                                                </a>
                                                                <button title="Trash" data-toggle="modal"
                                                                    data-target="#delChildCategoryModal{{_id}}"
                                                                    class="pd-setting-ed">
                                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="custom-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li style="{{isDisplayedPrevious currentPage 1}}" class="page-item">
                                    <a class="page-link"
                                        href="list-root-categories?page={{predictPage currentPage -1}}">Previous</a>
                                </li>
                                {{#each page_number}}
                                <li class="page-item">
                                    <a class="page-link" style="{{isCurrentPage ../currentPage this}}"
                                        href="/list-root-categories?page={{this}}">{{this}}</a>
                                </li>
                                {{/each}}
                                <li style="{{isDisplayedNext currentPage page_number.length}}" class="page-item">
                                    <a class="page-link"
                                        href="list-root-categories?page={{predictPage currentPage 1}}">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copy-right">
                    <p>Copyright © 2018. All rights reserved. Template by <a
                            href="https://colorlib.com/wp/templates/">Colorlib</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>