<div class="all-content-wrapper">
    <div class="header-advance-area">
        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <ul class="breadcome-menu">
                                        <li><a href="/">Trang chủ</a> <span class="bread-slash">/</span>
                                        </li>
                                        <li><span class="bread-blod">Danh sách giáo viên</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-status mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap drp-lst">
                        <h4>Danh sách giáo viên</h4>
                        <div id="emailAlert">
                            <p style=" color: red">Email đã tồn tại</p>
                        </div>
                        <div id="userNameAlert">
                            <p style=" color: red">Username đã tồn tại</p>
                        </div>
                        <div id="editUserAlert">
                            <p style=" color: red">Người dùng không tồn tại</p>
                        </div>
                        <script>
                            $('#emailAlert').hide();
                            $('#userNameAlert').hide();
                            $('#editUserAlert').hide();
                            const urlParams = new URLSearchParams(window.location.search);
                            const myParam = urlParams.get('error');
                            if (myParam == "Email already exist") {
                                $('#emailAlert').show();
                            } else if (myParam == "Username already exist") {
                                $('#userNameAlert').show();
                            } else if (myParam == "User can not found") {
                                $('#editUserAlert').show();
                            }
                        </script>
                        <div class="add-product">
                            <a data-toggle="modal" data-target="#exampleModal">Thêm giáo viên</a>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding: 4%;">
                                            <div style="display: table-cell; vertical-align: middle; float:left">
                                                <h5 class="modal-title" id="exampleModalLabel">Thêm
                                                    giáo
                                                    viên
                                                </h5>
                                            </div>

                                            <div style="display: table-cell; vertical-align: middle; float:right">
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                        <form id="acount-infor" action="/list-teachers" class="acount-infor"
                                            method="post">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="email"
                                                        placeholder="Email">
                                                </div>
                                                <div class="form-group">
                                                    <input name="name" type="text" class="form-control"
                                                        placeholder="Họ và Tên" required>
                                                </div>
                                                <div class="form-group">
                                                    <input name="username" type="text" class="form-control"
                                                        placeholder="Tên đăng nhập" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Thêm</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Đóng</button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="asset-inner">
                            <table>
                                <tr>
                                    <th>No</th>
                                    <th>Họ và tên</th>
                                    <th>Tên đăng nhập</th>
                                    <th>Email</th>
                                    <th style="text-align: center; vertical-align: middle;">Cài đặt</th>
                                </tr>
                                {{#each teacher_list}}
                                <tr>
                                    <td>{{lookup ../num_order @index}}</td>
                                    <td>{{name}}</td>
                                    <td>{{username}}</td>
                                    <td>{{email}}</td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        {{#if status}}
                                        <button data-toggle="modal" data-target="#editModal{{_id}}" title="Edit"
                                            class="pd-setting-ed"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i></button>
                                        <button data-toggle="modal" data-target="#lockModal{{_id}}" title="Trash"
                                            class="pd-setting-ed"><i class="fa fa-trash-o"
                                                aria-hidden="true"></i></button>
                                        {{else}}
                                        <button data-toggle="modal" data-target="#unlockModal{{_id}}" title="Trash"
                                            class="pd-setting-ed">
                                            <i class="fa fa-lock" aria-hidden="true" style="color:red"></i>
                                        </button>
                                        {{/if}}
                                        <!-- edit Modal -->
                                        <div class="modal fade" id="editModal{{_id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa
                                                            giáo
                                                            viên
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form id="acount-infor" action="/list-teachers/edit-teacher/{{_id}}"
                                                        class="acount-infor" method="post">
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="email"
                                                                    placeholder="Email" value="{{email}}">
                                                            </div>
                                                            <div class="form-group">
                                                                <input name="name" type="text" class="form-control"
                                                                    placeholder="Họ và Tên" value="{{name}}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <input name="username" type="text" class="form-control"
                                                                    placeholder="Tên đăng nhập" value={{username}}
                                                                    readonly>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary">Chỉnh
                                                                sửa</button>
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Đóng</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- edit Modal -->
                                        <!-- lock Modal -->
                                        <div class="modal fade" id="lockModal{{_id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header" style="text-align: left">
                                                        <h5 class="modal-title" id="exampleModalLabel">Thông báo
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body" style="text-align: left">
                                                        <p>Bạn có chắc muốn xoá giáo viên {{this.name}} này không?
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/list-teachers/lock-teacher/{{_id}}"><button
                                                                type="button" class="btn btn-primary">Xoá</button></a>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Đóng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- lock Modal -->
                                        <!-- unlock Modal -->
                                        <div class="modal fade" id="unlockModal{{_id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header" style="text-align: left">
                                                        <h5 class="modal-title" id="exampleModalLabel">Thông báo
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body" style="text-align: left">
                                                        <p>Bạn có chắc muốn xoá giáo viên {{this.name}} này không?
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/list-teachers/unlock-teacher/{{_id}}"><button
                                                                style="background-color:red;" type="button"
                                                                class="btn btn-primary">Mở</button></a>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Đóng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- unlock Modal -->
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                        <div class="custom-pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" style="{{isDisplayedPrevious currentPage 1}}">
                                        <a class="page-link"
                                            href="list-root-categories?page={{predictPage currentPage -1}}">Previous</a>
                                    </li>
                                    {{#each page_number}}
                                    <li class="page-item">
                                        <a class="page-link" style="{{isCurrentPage ../currentPage this}}"
                                            href="/list-teachers?page={{this}}">{{this}}</a></li>
                                    {{/each}}
                                    <li class="page-item" style="{{isDisplayedNext currentPage page_number.length}}">
                                        <a class="page-link"
                                            href="list-root-categories?page={{predictPage currentPage 1}}">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2018. All rights reserved. Template by <a
                                href="https://colorlib.com/wp/templates/">Colorlib</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>